<div class="my-lists-container">
  <div class="my-lists-header">
    <h2>My Lists</h2>
    <%= link_to 'Create a movie list', new_list_path, class: 'create-list-btn' %>
  </div>

  <div class="my-lists">
  <% @lists.each do |list| %>
    <div class="list-card">
      <%= link_to list_path(list), class: 'list-card-link' do %>
        <%= list.name %>
      <% end %>
    </div>
  <% end %>
</div>

</div>
